* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: grey;
}

html, body{
  position: relative;
  background-color: rgb(48, 48, 48);
  overflow-x: hidden;
  overflow-y: hidden;
}
